.app-general{
  padding: 20px;
  font-family: "Aachen Bold" , serif;
  font-size: 1.2rem;
}

.header{
  padding: 10px 20px;
  font-family: "Aachen Bold" , serif;
  font-size: 2rem;
  color:rgb(142, 153, 39);
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.nav-links{
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  justify-content: space-evenly;
  padding: 20px;
  font-family: "Aachen Bold" , serif;
}

.nav-links a{
  color: rgb(142, 153, 39);
  text-decoration: none;
  font-size: 2rem;
}

.footer{
  padding: 40 px;
  font-size: 1.0rem;
  font-family: "Aachen Bold" , serif;
}

.logo-img{
  width: 100px;
  height: auto;
  margin-right: 10px;
}

.logo{
  display: flex;
  align-items: center;
}